html {
  font-family: Helvetica;
}
h1 {
  font-size: 100px;
  color: khaki;
  text-align: center;
}
h2 {
  font-size: 32px;
  color: white;
}
#heading {
  background: url("../images/pattern.jpeg");
  background-position: center;
  background-size: cover;
  width: inherit;
  height: auto;
}
#brushes {
  background-color: mediumspringgreen;
}
#frames {
  background-color: lightcoral;
}
#paint {
  background-color: skyblue;
}
.bold {
  font-weight: bold;
}
.blue {
  color: blue;
}
